.context-menu-container {
    background-color: var(--context-menu-background-color);
    color: var(--context-menu-foreground-color);
    border-radius: .5em;
    bottom: auto; 
    right: auto; 
    z-index: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: clip;
    padding: .5ch;
    
}

.context-menu-item{
    padding-left: .25em;
    padding-right: .25em;
    width: 100%;
}

.context-menu-item-hoverable:hover{
    background-color: var(--context-menu-item-hover-color);
}