.grid-row {
    --margin-size-w: .15vw;
    --margin-size-h: .15vh;
    --border-width: .1em;

    overflow: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color:  rgba(52, 67, 78, 0.8);
    border-radius: .5em;
    border-width: var(--border-width);
    border-style: dotted;
    border-color: transparent;

    height: calc(100% - (calc(var(--margin-size-h) * 2)));
    width: calc(100% - (calc(var(--margin-size-w) * 2)));
    min-width: 1vw;
    min-height: 1vh;
    margin: var(--margin-size-h) var(--margin-size-w);
}

.grid-row:hover {
    border-color: whitesmoke;
    overflow-y : auto;
    overflow-x: hidden;
    scrollbar-width:thin;
}

.grid-row-target{
    opacity: 0.5;
}