.grid-container {
        
    min-width: 100%;
    min-height: 100%;

    width: var(--max-width);
    height: var(--max-height);
    
    max-width: var(--max-width);
    max-height: 100%;

    display: flex;
    flex-direction: row;
}